<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/normilize.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
    <script src="https://kit.fontawesome.com/58b09cd0e6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <article class="contenedor-logo-barra">
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo mercadoliebre">
        <div class="barra-busqueda">
            <input class="busqueda" type="text" name="search" placeholder="Buscar productos, marcas">
            <button type="buscar"><i class="fa-solid fa-magnifying-glass"></i></i></button>
        </div>
    </article>
        <p class="comprá"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="navcontainer">
            <ul>
                <li> <a href="#">Ofertas</a></li>
                <li> <a href="#">Tiendas Oficiales </a></li>
                <li> <a href="#">Vender</a></li>
                <li> <a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li> <a href="/register">Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
                <li> <a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li> <a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <!--BARRA BURGUER-->
        <div><button class="barra-burguer"><i class="fa-solid fa-bars"></i></button></div>
        <!--BANNER-->
        <div class="banner">
            <img class="banner-img" src="/images/img-home-banner.jpg" alt="logo mercadoliebre">
        </div>
    </header>  
<main>
    <form action="/" method="POST">
        <fieldset>
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="name"  required>
        <label>Contraseña <input type="password" required name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ></label>
        <input type="submit" value="Ingresar">
    </fieldset>
    </form>
</main>
    <footer>
        <section class="tarjeta">
            <i class="fa-solid fa-credit-card"></i>
            <h3> Pagá con tarjeta o en efectivo </h3>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section class="envio">
            <i class="fa-solid fa-gift"></i>
            <h3> Envío gratis desde $ 2.500 </h3>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h3> Seguridad, de principio a fin </h3>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>
        <section class="copy">
            <h4> Copyright ©️ 1999-2020 MercadoLiebre S.R.L. </h4>
        </section>
</footer>
</body>
</html>